name: CI Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  code-quality:
    name: Lint & Type Check
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '24.13.0'
          cache: 'npm'

      - name: Install Dependencies
        run: npm ci

      - name: Run Next.js Linter
        run: npm run lint

      - name: Run TypeScript Compiler Check
        run: npx tsc --noEmit